// Define font sizes and line heights
$base-font-size: 16px;
$base-line-height: 1.5;

// Heading sizes
$heading-1-size: 2.5rem;
$heading-2-size: 2rem;
$heading-3-size: 1.5rem;
$heading-4-size: 1.25rem;

// Text styles
$regular-font-weight: 400;
$bold-font-weight: 600;
$italic-font-style: italic;

// Set the default text color to black for all elements
$text-color: black;

.text-base {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $regular-font-weight;
  color: $text-color;
}

.text-bold {
  font-weight: $bold-font-weight;
}

.text-italic {
  font-style: $italic-font-style;
}

.heading-1 {
  font-size: $heading-1-size;
  color: $text-color;
}

.heading-2 {
  font-size: $heading-2-size;
  color: $text-color;
}

.heading-3 {
  font-size: $heading-3-size;
  color: $text-color;
}

.heading-4 {
  font-size: $heading-4-size;
  color: $text-color;
}


.text-semibold {
  font-weight: 500;
}

.text-bold-italic {
  font-weight: $bold-font-weight;
  font-style: $italic-font-style;
}
